<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="game-container">

                <div>
                    <canvas id="nextBlocksAreaCanvas[0]" class="border" width="280" height="40"></canvas>
                    <canvas id="nextBlocksAreaCanvas[1]" class="border" width="280" height="40"></canvas>
                </div>
                <div>
                    <canvas id="playAreaCanvas[0]" class="border" width="200" height="600"></canvas>
                    <canvas id="playAreaCanvas[1]" class="border" width="200" height="600"></canvas>
                </div>

            </div>
        </div>
        <div class="col-sm" style="display: none;">
            <div>
                <span id="chat-area"></span>
            </div>
        </div>
    </div>
</div>

<script>
{{#if gameBlocks}}
    var replayingAGame = true;
    var preloadedGameBlocks = [{{#each gameBlocks}}{{this}}, {{/each}}];
{{/if}}
{{#if gameString}}
    var preloadedGameString = [];
    {{#each gameString}}
    preloadedGameString.push({
        frameNumber: {{this.frameNumber}},
        eventName: '{{this.eventName}}',
        eventValue: '{{this.eventValue}}'
    });
    {{/each}}
{{/if}}
{{#if roomId}}
    let multiplayer = true;
    var roomId = {{roomId}};
{{else}}
    let multiplayer = false;
{{/if}}
</script>

<script src='/javascripts/bundle.js'></script>